<%-include('./partials/head') %>
    <main >
        <%-include('./partials/navigation/nav-menu') %>
        <%-include('./partials/flash') %>
        404
    </main>
<%-include('./partials/footer') %>